html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}
body {
	margin: 0;
}
/*.dynamic-scaler {
	width: 100%;
	margin: 0 auto;
	-webkit-animation: flux-scale 5s ease-out infinite;
	-moz-animation: flux-scale 5s ease-out infinite;
	-ms-animation: flux-scale 5s ease-out infinite;
	-o-animation: flux-scale 5s ease-out infinite;
	animation: flux-scale 5s ease-out infinite;
}*/
.container {
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
}
.row {
	*zoom: 1;
}
.row:before,
.row:after {
	content: '';
	display: table;
}
.row:after {
	clear: both;
}
.row + .row {
	margin-top: 40px;
}
.col {
	padding: 20px;
}
.col-2 {
	width: 47.5%;
}
.col-2:not(:last-of-type) {
	margin-right: 5%;
}
.col-2:nth-child(odd) {
	float: left;
}
.col-2:nth-child(even) {
	float: right;
}
.col-4 {
	width: 21.25%;
	float: left;
}
.col-4:nth-child(n + 4) {
	float: right;
}
.col-4:not(:last-child) {
	margin-right: 5%;
}
.col-2:nth-child(odd) {
	float: left;
}
.col-2:nth-child(even) {
	float: right;
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}

@media screen and (max-width: 599px) {
	.col.col-2,
	.col.col-4 {
		margin: 0;
		width: inherit;
		float: none;
	}
	.col + .col {
		margin-top: 40px;
	}
}
/*@-webkit-keyframes flux-scale {
	0%, 100% {
		width: 100%;
	}
	50% {
		width: 500px;
	}
}
@-moz-keyframes flux-scale {
	0%, 100% {
		width: 100%;
	}
	50% {
		width: 500px;
	}
}
@-ms-keyframes flux-scale {
	0%, 100% {
		width: 100%;
	}
	50% {
		width: 500px;
	}
}
@-o-keyframes flux-scale {
	0%, 100% {
		width: 100%;
	}
	50% {
		width: 500px;
	}
}
@keyframes flux-scale {
	0%, 100% {
		width: 100%;
	}
	50% {
		width: 500px;
	}
}*/